:root {
  --color-green: #19472a;
  --color-gray: #b2bbc0;
  --color-red: #822007;
  --color-cobalt: #3d414c;
  --color-black: #000;
}
* {
  box-sizing: border-box;
}
::selection {
  background-color: var(--color-green);
  color: var(--color-gray);
}
body {
  margin: 0px;
}
html {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
h1,
h2,
h3 {
  font-family: andale mono, monospace;
}
h2 {
  position: relative;
  right: 1rem;
}

/**************************************************************/
/* Specific Stylings */
aside {
  background-color: var(--color-green);
  color: var(--color-gray);
  position: absolute;
  padding-top: 0.5rem;
  width: 6rem;
  height: 2rem;
  top: 0.75rem;
  right: 1rem;
}

.site-header {
  text-align: center;
  background: var(--color-gray);
  background: linear-gradient(
    345deg,
    var(--color-gray) 18%,
    var(--color-green) 95%
  );
  background-color: #b2bbc0;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}
.site-header:hover aside {
  transition: 0.25s;
  transform: scale(120%);
}

.cv-header {
  font-size: 3rem;
}
.name {
  font-size: 1em;
}
.about {
  font-size: 0.25em;
}
.main-content {
  padding: 4rem;
  max-width: 80ch;
  margin: 0 auto;
}
.main-content article {
  padding-left: 1rem;
}

.main-content > article + article {
  margin-top: 3.5rem;
  border-top: solid var(--color-green) 0.25rem;
}

.main-content section + section {
  margin-top: 2.5rem;
}
.navigation-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-link {
  transition: color 0.35s;
  transition: background-color 0.15s ease;
}
.nav-link:link {
  color: var(--color-green);
}
.nav-link:visited {
  color: var(--color-cobalt);
}
.nav-link:hover {
  color: var(--color-red);
}
.nav-link:active {
  color: var(--color-black);
}
.nav-link:focus {
  background-color: var(--color-green);
  color: var(--color-gray);
}

.profile::after {
  content: "✌️🌳🌻⛹️‍♀️🌱";
}
.job-details {
  display: flex;
  flex-direction: column;
}

.site-footer {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  background: radial-gradient(
    circle,
    var(--color-gray) 25%,
    var(--color-green) 42%
  );
}
.note-footer::before {
  content: "👍";
}
.note-footer::after {
  content: "📪";
}

@media screen and (min-width: 786px) {
  html {
    font-size: 22px;
  }
  .job-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-header {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }
  .main-content > article + article {
    margin-top: 3.5rem;
  }
  .main-content section + section {
    margin-top: 2.5rem;
  }
  .main-article {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }
  .content-wrapper {
    padding-top: 0.33rem;
    border-bottom: #000 solid;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 24px;
  }
  aside {
    position: fixed;
  }
}
@media screen and (min-width: 1600px) {
  .site-header {
    background: var(--color-green);

    padding-top: 0;
  }
  .site-header:active {
    background: linear-gradient(
      180deg,
      var(--color-green) 27%,
      var(--color-gray) 30%,
      var(--color-green) 105%
    );
  }
  .lamp-cable {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .upper-area-left {
    border-right: solid var(--color-gray) 2px;
    padding-block: 1.5rem;
  }

  .pull-switch {
    position: absolute;
    margin-left: 4rem;
    padding-block: 2rem;
    padding-inline: 1rem;
    border: none;
    border-right: var(--color-gray) 2px dashed;
    background-color: inherit;
  }

  .pull-switch:active {
    padding-bottom: 2.5rem;
    cursor: grab;
  }

  .lamp {
    padding-block: 1rem;
    border: solid var(--color-gray) 2px;
    margin-inline: 47.5%;
    border-radius: 5rem 5rem 0rem 0rem;
  }
  .bulb {
    padding-block: 0.2rem;
    border: solid rgb(187, 187, 116) 2px;
    margin-inline: 49.5%;
    margin-top: 0.1rem;
    border-radius: 0rem 0rem 20rem 20rem;
  }
}

@media print {
  aside {
    display: none;
  }
  nav {
    display: none;
  }
}
