* {
  box-sizing: border-box;
}
::selection {
  background-color: #19472a;
  color: #b2bbc0;
}
body {
  margin: 0px;
}
html {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
h1,
h2,
h3 {
  font-family: andale mono, monospace;
}
h2 {
  position: relative;
  right: 1rem;
}
@media screen and (min-width: 786px) {
  html {
    font-size: 22px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 24px;
  }
}

/**************************************************************/
/* Specific Stylings */
aside {
  background-color: #19472a;
  color: #b2bbc0;
  position: absolute;
  padding-top: 0.5rem;
  width: 6rem;
  height: 2rem;
  top: 0.1rem;
  right: 0.1rem;
}
@media screen and (min-width: 992px) {
  aside {
    position: fixed;
  }
}
@media print {
  aside {
    display: none;
  }
}
.site-header {
  text-align: center;
  background: rgb(178, 187, 192);
  background: linear-gradient(
    345deg,
    rgba(178, 187, 192, 1) 18%,
    rgba(25, 71, 42, 1) 95%
  );
  background-color: #b2bbc0;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 1600px) {
  .site-header {
    background: radial-gradient(
      circle,
      rgba(178, 187, 192, 1) 25%,
      rgba(25, 71, 42, 1) 42%
    );
  }
}
.cv-header {
  font-size: 3rem;
}
.name {
  font-size: 1em;
}
.about {
  font-size: 0.25em;
}
.main-content {
  padding: 4rem;
  max-width: 80ch;
  margin: 0 auto;
}
.main-content article {
  padding-left: 1rem;
}

.main-content > article + article {
  margin-top: 2.5rem;
  border-top: solid #19472a 0.25rem;
}
@media screen and (min-width: 786px) {
  .main-content > article + article {
    margin-top: 3.5rem;
  }
}
.main-content section + section {
  margin-top: 3.5rem;
}
@media screen and (min-width: 786px) {
  .main-content section + section {
    margin-top: 4rem;
  }
}
.navigation-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 786px) {
  .navigation-header {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }
}
.nav-link:link {
  color: #19472a;
}
.nav-link:visited {
  color: #3d414c;
}
.nav-link:hover {
  color: #822007;
}
.nav-link:active {
  color: #000;
}
@media print {
  nav {
    display: none;
  }
}
.profile::after {
  content: "✌️🌳🌻⛹️‍♀️🌱";
}
.job-details {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 786px) {
  .job-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.site-footer {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(178, 187, 192, 1) 25%,
    rgba(25, 71, 42, 1) 42%
  );
}
.note-footer::before {
  content: "👍";
}
