* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
html {
  font-family: "Courier New", Courier, monospace;
}
/**************************************************************/
/* Specific Stylings */
h1,
h2,
h3 {
  font-family: andale mono, monospace;
}

.main {
  padding: 80px;
  max-width: 800px;
  margin: 0 auto;
}
.header {
  text-align: center;
  background-color: #b2bbc0;
  padding-top: 50px;
  padding-bottom: 90px;
}
